 .profile {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.profile_sidebar {
  display: flex;
  margin-right: 116px;
}

.profile__clothing-items {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}