.modal__content_delete {
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  height: 280px;
  width: 670px;
}


.delete__text {
  color: #000000;
  max-width: 367px;
  padding-bottom: 20px;
}

.delete__confirm {
  color: #FF4D00;
  padding-bottom: 24px;
}

.delete__cancel {
  color: #000000;
  padding-bottom: 60px;
}



