.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0 28px;
}

.header__link {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  text-decoration: none;
  color: black;
}

.header__date-and-location {
  margin-right: auto;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__add-clothes-button {
  border: none;
  background-color: transparent;
  margin-left: 20px;
}

.header__username {
  margin: 0 12px 0;
}

.profile__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.navigation__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__user {
  width: 40px;
  height: 40px;
}

.navigation__button {
  margin-left: 20px;
  bottom: 8px;
  border-radius: 0;
  background-color: transparent;
  border: none;
}

