.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 260px;
  margin-right: 116px;

}

.sidebar__profile {
  display: flex;
  flex-direction: row;
  bottom: 24px;
}

.sidebar__username {
  margin-left: 16px;
}

.sidebar__button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  line-height: 1;
  bottom: 8px;
}

