.button-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.button {
  margin: 10px;
}

.signup__button {
  background-color: transparent;
  border-radius: none;
  border: none;
  color: #00000080;
  font-size: 16px;
  line-height: 1.25;
}

